#img1{
    text-align: center;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    border-radius: 30px;
}
#img2{
    text-align: center;
    width: 700px;
    height: 500px;
    border: 1px solid black;
    border-radius: 30px;
}
#img1:hover{
    box-shadow: 2px 2px 4px 4px;
    
}
#mainLogo1{
    width: 300px;
    margin-top: 60px;
}
